# Core Framework
Quart==0.20.0
Hypercorn==0.17.3

# Database
aiomysql==0.2.0
PyMySQL==1.1.0
cryptography==41.0.8

# Authentication
bcrypt==4.1.2

# Utilities
aiofiles==24.1.0
python-dotenv==1.0.1
Jinja2==3.1.5
MarkupSafe==3.0.2
Werkzeug==3.1.3

# Core Dependencies
click==8.1.8
blinker==1.9.0
itsdangerous==2.2.0
typing_extensions==4.12.2

# HTTP/Network
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
priority==2.0.0
wsproto==1.2.0
httpx==0.27.0

# Optional
Flask==3.1.0
pydantic==2.10.4
pydantic-settings==2.7.1
pydantic_core==2.27.2
annotated-types==0.7.0
Sphinx==8.2.3
