<!--Header-->
{% include "header.html" %}
{% include "navbar.html" %}

<br />
<div class="container">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5 animate__animated animate__fadeIn">
            <p class="blog-post-meta">{{ article['created_at'] }}</p>
            <h1 class="display-5 fw-bold">{{ article['title'] }}</h1>

            <!-- Aggiungi l'immagine qui con slideInLeft animation -->
            <figure class="float-start">
                <img src="{{ url_for('static', filename='img/' + article['photo_article']) }}" alt="{{ article['photo_article'] }}" class="img-fluid" style="max-width: 60%;">
            </figure>

            <!-- Utilizza la funzione safe per interpretare il contenuto CKEditor come HTML -->
            <p class="col-md-8 fs-4">{{ article['content']|safe }}</p>
        </div>
    </div>
</div>
<!--Footer-->
{% include "footer.html" %}



